@media (max-width: 1023px) {
header{
    position: fixed;
    height: 7em;
    width: 100%;
    background-color: azure;
    top: 0;
    left: 0;
}
a{
    text-decoration: none;
}

#logo{
    position: absolute;
    max-width: 6em;
    height: 40%;
    left: 6%;
    top: 25%;
    float: left;
}
#logo img{
    height: 80%;
    width: 40%;
    margin-top: 5%;
    float: left;
}
#book{
    position: absolute;
    font-size: 90%;
    top: 20%;
    color: #131045;
}
#land{
    position: absolute;
    font-size: 90%;
    top: 20%;
    right: 0;
    color: #EAA451;
}
#bookstorewebsite{
    position: absolute;
    bottom: 20%;
    font-size: 40%;
    color: #131045;
}



.menu{
    display: none;
}

.listmenu{
    display: none;
}


.searchbox{
    position: absolute;
    left: 7em;
}
.nav_button{
    display: none;
}

main{
    position: absolute;
    top: 20%;
    display: none;
}
}