<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/stylemobile.css">
    <title>Bookland_BookStore</title>
</head>
<body>
    <header>
        <nav>
            <a href="index.html" id ="logo">
                <img src="../picture/logo.png" alt="logopicture">
                <b><span id="book">Book</span><span id="land">land</span></b><br>
                <small id="bookstorewebsite">Book Store Website</small>
            </a>

            <div class="menu">
                <div class="menus">
                    Menu
                    <div class="listmenu">
                        <a href="index.html">Trang Chủ</a><br>
                        <a href="">Books</a><br>
                        <a href="">CDs</a><br>
                        <a href="../test.html">Test.html</a>
                    </div>
                </div>
                <div class="right_chevron">
                    
                </div>
            </div>

            <div class="searchbox">
                <input type="search" id="search" placeholder="Search books here" />
            </div>
            <div class="nav_button">
                <a href="login.html"><button id="login"><b>Log in</b></button></a>
                <a href="signup.html"><button id="signup"><b>Sign up</b></button></a>
            </div>
        </nav>
    </header>
    <main>
        <p>đây là trang login</p>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <p>a</p>
    </main>
    <footer>

    </footer>

</body>
</html>